#hero {
  background-image: url(https://i.imgur.com/y8fsqin.jpg) !important;
  color: #303672;
  & .overlay {
    background-image: none;
  }
}
.hero-right {
  text-align: left;
}
.tin-logos {
  &-3 {
    max-width: 700px;
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin: 20px 0 20px;
  }
  &-4 {
    max-width: 800px;
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
  }
  &--img {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    & img {
      width: 75%;
      &[alt="iOS"] {
        width: 40%;
      }
      &[alt="Google Play"] {
        transform: translate(-85%, 10%);
      }
      &[alt="Android"] {
        transform: translateX(-65%);
      }
      &[alt="Amazon Fire TV"] {
        transform: translateY(10%);
      }
      &[alt="iOS"] {
        transform: translateY(10%);
      }
    }
  }
}
.purple-bg .button {
  margin: 40px auto 10px;
}
.aqua-bar.section {
  padding: 40px 0;
  & .grid-x .cell:last-child h1 {
    @media (max-width: 1023px) {
      margin-bottom: 0;
    }
  }
}
@media (max-width: 639px) {
  #hero {
    background-image: url(https://i.imgur.com/XuEjQxN.jpg) !important;
    padding-bottom: 220px;
    padding-top: 30px;
    & h2 {
      font-size: 30px;
    }
  }
  .hero-right {
    text-align: center;
  }    
  .tin-logos--img {
    justify-content: center;
    & img {
      &[alt="iOS"] {
        width: 35%;
      }
      &[alt="Android"] {
        transform: initial;
      }
      &[alt="Amazon Fire TV"], &[alt="Google Play"] {
        transform: translateY(10%);
      }
      &[alt="iOS"] {
        transform: translate(30%, 10%);
      }    
    }
  }
}  
@media (max-width: 767px) and (min-width: 640px){
  .hero {
    min-height: 600px;
  }
  .tin-logos {
    margin-top: 30px;
  }
}
@media (max-width: 674px) {
  #hero h1 br {
    display: none;
  }
}