@mixin xl {
  @media (min-width: 1400px) {
    @content;
  }
}
@mixin lg {
  @media (min-width: 980px) {
    @content;
  }
}
@mixin md {
  @media (min-width: 640px) {
    @content;
  }
}

//* hero *//
.injectioncontainer:first-of-type {
  margin-bottom: 40px;
  & .mod-offers-listing {
    &-section {
      & .mod-offers-listing__title {
        position: relative;
        margin: 0;
        overflow: hidden;
        padding: 35px 20px 15px;
        background: url('//cdn.optimizely.com/img/8200950428/2167eeae09bd46afa058e5cdddb5e0c6.jpg');
        background-size: 170%;
        background-position: center;
        & h1 {
          font-family: "Avenir", sans-serif;
          font-weight: 900;
          font-style: normal;
          font-size: 30px;
          line-height: 1.2;
          letter-spacing: 1.5px;
          margin: 0;
          padding: 0;
          position: relative;
          text-align: left;
          color: #fff;
          z-index: 10;
          & br {
            display: none;
          }
        }
      }
    }
    &__grazie-reward {
      padding: 20px 15px;
      background: #F4F8FB;
      &__img {
        display: none;
      }
      &__content {
        &__header {
          & h3 {
            font-family: "minion-pro", Georgia, serif;
            color: #747170;
            font-weight: 500;
            font-size: 22px;
            font-style: italic;
            line-height: 1.2;
            margin-bottom: 15px;
            max-width: 80%;
          }
        }
        &__copy {
          display: none;
        }
        &__links {
          display: flex;
          & .cta {
            margin-right: 10px;
          }
          & .btn-arrow {
            border: none;
            color: #db2000;
            & span {
              text-decoration: underline;
            }
          }
        }
      }
      &__bg {
        display: none;
      }
    }
  }
}

// cards
.offergridcontainer {
  .mod-offers-listing {
    &__featured {
      /*featured card*/
      &--wrap {
        display: flex;
        flex-direction: column;
      }
      &__header {
        font-size: 24px;
        font-weight: 800;
        padding-left: 24px;
        margin-bottom: 15px;
      }
      .o-offer {
        &__tagline {
					line-height: 1;
					margin-bottom: 15px;
        }
        &__tag-detail {
          font-size: 15px;
          color: #2c2c2c;
          text-transform: none;
          font-weight: 400;
        }
        &__divider {
          width: 150px;
          height: 5px;
          display: inline-block;
          background: #db2000;
          margin-bottom: 15px;
        }
        &__text__details {
          line-height: 2;
          &__item {
            & .bold {
              font-weight: 900;
              font-size: calc(100% + 1px);
              margin-right: 5px;
            }
          }
        }
      }
      & .mod-offers-listing__buttons {
        display: flex;
        & li:nth-of-type(1) {
          width: 50%;
          margin-right: 20px;
          & .cta--arrow {
            & .icon {
              display: block;
            }
          }
        }
        & li:nth-of-type(2) {
          width: 50%;
          white-space: nowrap;
          span {
            text-decoration: underline;
          }
        }
      }
    }
    &--group {
      /*main cards*/
      &__toggle {
        display: flex;
        overflow: scroll;
        margin-bottom: 30px;
        &__item {
          & span {
            font-size: 20px;
            white-space: nowrap;
            cursor: pointer;
          }
          &.active span {
            display: inline-block;
            height: 33px;
            text-decoration: underline;
            text-decoration-thickness: 5px;
            text-decoration-color: #db2000;
            text-underline-offset: 10px;
          }
        }
        &--hotel {
          margin-right: 30px;
        }
      }
      &__header {
        font-size: 24px;
        line-height: 1.3;
        margin-bottom: 15px;
      }
      & .mod-offers-listing--item {
        border: none;
        & .o-offer {
          &__media h3 {
            display: none;
          }
          &__text {
            padding: 26px 0 17px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            &__title {
              margin-bottom: 20px;
            }
            & .mod-offers-listing__buttons {
              display: flex;
              width: 100%;
              & .cta--arrow {
                width: 50%;
                margin-right: 20px;
                & .icon {
                  display: block;
                }
              }
              & .o-offer__cta {
                width: 50%;
                white-space: nowrap;
                span {
                  text-decoration: underline;
                  font-weight: 900;
                }
              }
            }
            &__details {
              line-height: 2;
              width: 100%;
              &__item {
                & br {
                  display: none;
                }
                & .bold {
                  font-weight: 900;
                  font-size: calc(100% + 1px);
                  margin-right: 5px;
                }
              }
            }
          }
          &__tagline {
            font-size: 26px;
            text-align: left;
            font-weight: 400;
            line-height: 1.1;
            margin-bottom: 20px;
            text-transform: none;
          }
          &__divider {
            width: 150px;
            height: 5px;
            display: inline-block;
            background: #db2000;
            margin-bottom: 20px;
            &--desktop {
              display: none;
            }
          }
          &__tag-detail {
            font-style: initial;
            font-family: "Avenir", sans-serif;
            color: #2c2c2c;
            margin-bottom: 20px;
            text-align: left;
          }
          &__details-btn {
            width: 100%;
          }
          &__text__collapsible {
            width: 100%;
          }
        }
      }
    }
  }
}
// above footer text hide
.mod-body-wysiwyg__container {
  display: none;
}










// desktop
@include md {
  .injectioncontainer:first-of-type {
    margin-bottom: 40px;
    & .mod-offers-listing {
      &-section {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        & .mod-offers-listing__title {
          min-height: 200px;
          background-size: cover;
          display: flex;
          align-items: flex-end;
          padding: 35px 50px 30px;
          width: 100%;
          & h1 {
            font-size: 35px;
            & br {
              display: block;
            }
          }
        }
      }
      &__grazie-reward {
        display: flex;
        justify-content: space-between;
        max-width: 45%;
        transform: translateY(-40px);
        position: relative;
        overflow: hidden;
        &__img {
          display: inline-block;
          width: 20%;
          margin-right: 15px;
        }
        &__content {
          width: 75%;
          z-index: 100;
          &__header {
            & h3 {
              font-family: "Avenir", sans-serif;
              font-size: 16px;
              font-style: normal;
              font-weight: 800;
              color: #2c2c2c;
            }
          }
          &__copy {
            display: inline-block;
            & p {
              font-size: 14px;
              line-height: 1.8;
            }
          }
          &__links {
            & .o-offer__cta {
              & span {
                white-space: nowrap;
                text-decoration: underline;
                font-weight: 800;
              }
              & svg {
                display: none;
              }
            }
          }
        }
        &__bg {
          position: absolute;
          display: inline-block;
          fill: #dee3e6;
          right: -50px;
          bottom: -20px;
          z-index: 0;
          width: 310px;
          height: 200px;
          display: none;
        }
      }
    }
  }
  .offergridcontainer {
    transform: translateY(-70px);
    .mod-offers-listing {
      &__featured {
        margin-bottom: 80px;
        /*featured card*/
        flex-direction: column;
        &__header {
          padding-left: 0;
          font-weight: 300;
          font-size: 38px;
          margin-bottom: 25px;
          line-height: 1;
        }
        &__media {
          flex: unset;
          width: 52%;
        }
        & .o-offer {
          &__text {
            flex: unset;
            width: 48%;
						padding-top: 15px;
          }
					&__tagline {
						line-height: 1;
						margin-bottom: 15px;
					}
					&__tag-detail {
						line-height: 1.5;
					}					
        }
        &--wrap {
          flex-direction: row;
        }
      }
      &--group {
        /*main cards*/
        max-width: 1280px;
        &--wrap:nth-of-type(2) {
          margin-bottom: 80px;
        }
        &__toggle {
          overflow: unset;
          margin-bottom: 40px;
          &.active span {
            height: auto
          }
        }
        &-wrapper {
          padding: 0 60px;
          margin: 0;
          max-width: unset;
          display: flex;
          justify-content: center;
        }
        &__header {
          font-size: 30px;
          font-weight: 300;
        }
        &__category {
          display: grid;
          grid-template-columns: 1fr;
          row-gap: 30px;
          margin-bottom: 80px;
          &:last-child {
            margin-bottom: 0;
          }
          & .mod-offers-listing--item {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            width: 100% !important;
            margin: 0 !important;
            border-bottom: 1px solid #d8dee1;
            &:last-child {
              border-bottom: none;
            }
            &>a {
              width: 30%;
              display: inline-block;
              padding-bottom: 17px;
            }
            & .o-offer {
              &__text {
                width: 70%;
                flex-direction: row;
                padding: 0px 20px 17px;
                align-self: flex-start;
                justify-content: space-between;
                &__title {
                  margin-right: 40px;
                  margin-bottom: 0;
                  display: flex;
                  flex-direction: column;
                }
                &__offerDetails {
                  & .bold {
                    font-weight: 900;
                  }
                }
                &__collapsible {
                  border-top: none;
                  padding: 0;
                }
                &__details {
                  min-width: 237px;
                  width: unset;
                  &__item {
                    & br {
                      display: block;
                    }
                    &--mobile {
                      display: none;
                    }
                  }
                }
                & .mod-offers-listing__buttons {
                  flex-direction: column;
                  & .cta--arrow {
                    width: unset;
                    margin-right: 30px;
                    margin-bottom: 10px;
                  }
                  & .o-offer__cta {
                    width: unset;
                    margin: 0;
                    text-align: left;
                    padding: 18px 0;
                    & svg {
                      display: none;
                    }
                  }
                }
              }
              &__divider {
                &--mobile {
                  display: none;
                }
                &--desktop {
                  display: inline-block;
                }
              }
            }
          }
        }
      }
    }
  }
}

@include lg() {
  .mod-offers-listing__grazie-reward__content__links .cta--arrow span {
    min-width: 145px;
  }
}





// added by joe
.offergridcontainer{transform:translateY(-30px) !important}@media(min-width: 640px){.injectioncontainer:first-of-type .mod-offers-listing__grazie-reward{display:none !important}.injectioncontainer:first-of-type .mod-offers-listing-section .mod-offers-listing__title{display:none !important}.tin-title{font-size:62px;font-weight:900; line-height:1.4; text-align:center}.tin-title-holder{display:flex;justify-content:center;align-items:center;width:100%;height:150px;margin-top:25px}}


.injectioncontainerwrapper > .mod-offers-listing-section {
	align-items:center;
	 margin-left:6%;
	 margin-right:6%;
 }
 
 @media (min-width: 640px) and (min-width: 640px){
 .injectioncontainerwrapper > .mod-offers-listing-section {
	 margin: 0 32px;
	 }
 }
 
 @media (min-width: 640px) and (min-width: 980px){
 .injectioncontainerwrapper > .mod-offers-listing-section {
	 margin: 0 60px;
	 }
 }
 
 @media (min-width: 640px) and (min-width: 1400px){
 .injectioncontainerwrapper > .mod-offers-listing-section {
	 margin: 0 auto;
	 }
 }
 
 @media (max-width: 1500px){
 .tin-title {
	 font-size:55px
 }
 }
 
 @media (max-width: 1100px){
 .tin-title {
	 font-size:46px
 }
 }
 
 @media (max-width: 800px){
 .tin-title {
	 font-size:40px
 }
 }
 
 @media (max-width: 500px){
 .tin-title {
	 line-height:40px;
	 text-align:center;
 }
 }
 
 .mod-offers-listing-section > .mod-offers-listing__title,
 .mod-offers-listing-section > .mod-offers-listing__grazie-reward{
	 display:none;
 }